<div>
  <div *ngFor="let user of users; let i = index" class="flex items-center">
    <div>
      <input
        #inputref
        [(ngModel)]="user.name"
        type="text"
        [value]="user.name"
        [disabled]="!user.editing"
        [placeholder]="user.name"
        class="border rounded-md m-2 p-1 text-sm"
      />
    </div>
    <div>
      <div class="flex gap-2">
        <button
          *ngIf="editingIndex !== i; else editing"
          class="text-xs border rounded-lg px-2 py-1 hover:bg-black hover:text-white"
          (click)="actions(false, i)"
        >
          edit
        </button>
        <ng-template #editing>
          <button
            class="text-xs border rounded-lg px-2 py-1 hover:bg-black hover:text-white"
            (click)="actions(true, i)"
          >
            save
          </button>
        </ng-template>
      </div>
    </div>
  </div>
</div>
